[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
User=root
ExecStart={{ bin_dir }}/kubelet \
  --config=/etc/kubernetes/kubelet.yaml \
  --kubeconfig={{ kube_cert_dir }}/kubelet.kubeconfig \
  --root-dir={{ kubelet_data_dir }} \
  --node-ip={{ kube_node_ip }} \
  --hostname-override={{ kube_node_name }} \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
